bai4/WCF/WindowsFormsApp1/WindowsFormsApp1/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49358/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO" />
  <xs:element name="Loadkh">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadkhResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="LoadkhResult" nillable="true" type="q1:ArrayOfKhachhang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertkh">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="hachhang" nillable="true" type="q2:Khachhang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertkhResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Updatekh">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="hachhang" nillable="true" type="q3:Khachhang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatekhResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Deletekh">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="hachhang" nillable="true" type="q4:Khachhang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletekhResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Loadhh">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadhhResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="LoadhhResult" nillable="true" type="q5:ArrayOfHanghoa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Inserthh">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="hanghoa" nillable="true" type="q6:Hanghoa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserthhResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Updatehh">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="hanghoa" nillable="true" type="q7:Hanghoa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatehhResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Deletehh">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="hanghoa" nillable="true" type="q8:Hanghoa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletehhResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Loadhd">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadhdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="LoadhdResult" nillable="true" type="q9:ArrayOfHoadon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Inserthd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="hadon" nillable="true" type="q10:Hoadon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserthdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Updatehd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="hadon" nillable="true" type="q11:Hoadon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatehdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Deletehd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="hadon" nillable="true" type="q12:Hoadon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletehdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mahang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSLResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSL_2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mahd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSL_2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSL_2Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mahang" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SL" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSLResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="data">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="month" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="dataResult" nillable="true" type="q13:ArrayOfReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>